html {
  font-size: 10px;
  background: url('https://i.pinimg.com/564x/d8/4d/11/d84d1117cd4bc8952237ca5ba2c78202.jpg') center;
  background-size: contain;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
  border: 5px solid #fec89a;
  box-sizing: border-box;
  width: fit-content;
  top: 15%;
  left: 42%;
  justify-content: center;
  position: absolute;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #fec89a;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  background-color: #fec89a;
  box-shadow: 0 0 1rem #fec89a;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
